.float-right{
    float:right;
}

mat-card{
    padding-bottom: 30px !important;
}

mat-form-field{
    padding: 5px;
}

table{
    width: 100%;
}

.header-bg{
    background-color: #E27D60; 
    color: white;
}

#orange{
    color: #E27D60;
}

